@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
  .dark {
    /* This is your deep midnight purple-blue */
    --background: #0B0E19; 
    --foreground: #F8FAFC;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
}