.sidebar{
  grid-row: 1 / 4; 
  grid-column: 1 / 2;
  padding: 20px;
  background: rgba(46, 16, 101, 0.6); /* semi-transparent purple */
  backdrop-filter: blur(10px);         /* frosted effect */
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255,255,255,0.2);
  /* color: white; */
  padding: 20px;
}
.profile{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: x-large;
  margin-bottom: 50px;
}
.profile h1{
   font-family: 'Anton', sans-serif;
  font-size: 2rem;
  font-style: italic;
  color: #9554ff;
}
.imgcont{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 3px solid #9554ff;
}